<!DOCTYPE html>
<html>
    <head>
        <title>Philip blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Philip Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>ليش الجمل ليش؟ عشان الجمل عشان</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>لويه هي هيه؟ مهي هيه</p>
        </article>
    </body>
</html>